<ul class="sidebar-menu" data-widget="tree">
  <li class="header">HEADER</li>
  <li ui-sref-active="active">
    <a href="" ui-sref="dashboard">
      <i class="fa fa-link"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li href="" ui-sref-active="active">
    <a ui-sref="investor.list">
      <i class="fa fa-link"></i>
      <span>Investors List</span>
    </a>
  </li>

  <!-- <li class="treeview">
    <a href="#">
      <i class="fa fa-link"></i>
      <span>Multilevel</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="#">Link in level 2</a>
      </li>
      <li>
        <a href="#">Link in level 2</a>
      </li>
    </ul>
  </li> -->
</ul>
<!-- /.sidebar-menu -->
